#homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

nav {
    position: fixed;
    top: 0;
    z-index: 999;
}

.animeCardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.animeCardContent {
    padding: 10px;
}

.animeCardContent > img {
    border-radius: 10px;
}

.card {
    border-radius: 20px;
}

.card-content {
    width: 640px;
}